$font-stack: "franklin-gothic-urw", sans-serif;

$white: #fff;
$black: #333;
$gray-light: #ccc;
$gray-lighter: #eee;

$blue: #1a139e;
$green: #1a3c0a;
$aqua: 15d4cd;
$orange #d7792e;
$red: #e83826;
$pink: #ec85c2;
$yellow: #f6ce5f;
$purple: #7b29aa;
